/* MENU GERAL */

body {
    background: url('image/clean.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.navbar:not(.top-nav-collapse) {
    background-color: transparent !important;
    background-position: fixed;
    position: sticky;
}


/* FIM MENU GERAL */


/* CSS PÁGINA INÍCIO */

.paginaBranco {
    text-align: center;
    margin: auto;
    padding: 10px;
    height: 1100px;
    background-color: transparent;
}


/* FIM CSS PÁGINA INÍCIO */


/* CSS PÁGINA CONTATO */

.paginaContato {
    font-size: 21px;
    text-align: center;
    margin: auto;
    padding: 10px;
    height: 900px;
    background-color: transparent;
}

.campos {
    padding-top: 60px;
}

.campos input {
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(255, 255, 255, 0.6);
}

.campos textarea {
    border-radius: 10px;
    border-color: transparent;
    background-color: rgb(255, 255, 255, 0.6);
}


/* FIM CSS PÁGINA CONTATO */


/* CSS PÁGINA SOBRE */

.paginaSobre {
    text-align: center;
    margin: auto;
    padding: 10px;
    height: 1150px;
    background-color: transparent;
}


/* FIM CSS PÁGINA SOBRE */


/* CSS PÁGINA SERVIÇO */

.paginaServico {
    font-size: 21px;
    text-align: center;
    margin: auto;
    padding: 10px;
    height: 900px;
    background-color: transparent;
}

.fieldset-border {
    border: 1px groove rgb(0, 0, 0) !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    box-shadow: 0px 0px 0px 0px #000;
}

.fieldset-border .legend-border {
    text-align: left !important;
    width: auto;
    padding: 0 10px;
    border-bottom: none;
    font-family: 'Pacifico', cursive;
}

.rodape {
    position: absolute;
    bottom: 0;
    margin-left: 290px;
    font-size: 15px;
}


/* FIM CSS PÁGINA SERVIÇO */


/* SOBRE */

.resume .resume-title {
    font-size: 26px;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #3b434a;
}

.resume .resume-item {
    padding: 0 0 20px 20px;
    margin-top: -2px;
    border-left: 2px solid #b3331c;
    position: relative;
}

.resume .resume-item h4 {
    line-height: 18px;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: rgb(8, 1, 1);
    margin-bottom: 10px;
}

.resume .resume-item h5 {
    font-size: 16px;
    background: #c54b60;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
}

.resume .resume-item ul {
    padding-left: 20px;
}

.resume .resume-item ul li {
    padding-bottom: 10px;
}

.resume .resume-item:last-child {
    padding-bottom: 0;
}

.resume .resume-item::before {
    content: "";
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50px;
    left: -8px;
    top: 0;
    background: #fff;
    border: 2px solid #c54b60;
}


/* FIM SOBRE */


/*--------------------------------------------------------------
# My Portfolio
--------------------------------------------------------------*/

.portfolio a {
    color: coral;
}

.portfolio .portfolio-item {
    margin-bottom: 30px;
}

.portfolio .portfolio-item .portfolio-img {
    overflow: hidden;
}

.portfolio .portfolio-item .portfolio-img img {
    transition: all 0.8s ease-in-out;
}

.portfolio .portfolio-item .portfolio-info {
    opacity: 0;
    position: absolute;
    left: 15px;
    bottom: 0;
    z-index: 3;
    right: 15px;
    transition: all ease-in-out 0.3s;
    background: rgba(0, 0, 0, 0.5);
    padding: 10px 15px;
}

.portfolio .portfolio-item .portfolio-info h4 {
    font-size: 18px;
    color: #fff;
    font-weight: 600;
    color: #fff;
    margin-bottom: 0px;
}

.portfolio .portfolio-item .portfolio-info p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    margin-bottom: 0;
}

.portfolio .portfolio-item .portfolio-info .preview-link,
.portfolio .portfolio-item .portfolio-info .details-link {
    position: absolute;
    right: 40px;
    font-size: 24px;
    top: calc(50% - 18px);
    color: #fff;
    transition: 0.3s;
}

.portfolio .portfolio-item .portfolio-info .preview-link:hover,
.portfolio .portfolio-item .portfolio-info .details-link:hover {
    color: #ffc041;
}

.portfolio .portfolio-item .portfolio-info .details-link {
    right: 10px;
}

.portfolio .portfolio-item:hover .portfolio-img img {
    transform: scale(1.2);
}

.portfolio .portfolio-item:hover .portfolio-info {
    opacity: 1;
}

#intro {
    padding-bottom: 50px;
}